<div class="container-fluid">
  <div class="col">
  <div class="col-xs-12 col-lg-12 "> 
<mat-nav-list>
    <mat-divider></mat-divider>
    <div class="logo">
        <img src="./assets/Palnar-logo.png "  class="setlogo" alt="Company Logo" />
      </div >
      
      <div class="logout">
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
      </div>

      <div class="username">
        <p><b>Resmi Sreelekha</b></p>
      </div>

      <div class="img">
        <img src="../../assets/Profile-Picture.jpg" class="setimage">
      </div>

      
      <div class="noti">
        <a mat-list-item class="list-item-active" routerLink="/dashboard">
          <mat-icon>notifications</mat-icon> 
      </a>
    </div>
      <div class="search">
      <input type="text" placeholder="Search By Name,Email...">
      <i class="fa fa-search lens" aria-hidden="true"></i>
    </div>
  

</mat-nav-list>
 </div>
</div>
</div>