<div class="container-fluid">
  <div class="col">
    <div class="col-xs-2 col-md-12 col-lg-12 "> 
        <div class="home-header">
        
<div class="title">
    <p class="settitle">Candidate List</p>
</div>



    <div class="search">
        <input type="text" placeholder="Search By Name,Email...">
        <i class="fa fa-search lens" aria-hidden="true"></i>
      </div>

      <div class="button">
        <button class="setbutton">Add New</button>
    </div>
    
    </div>

    
        <div class="table1">
            <div class="table-responsive fixed-table-body">
            <table class="settable table  table-bordered table-striped container-fluid">
                <tr>
                    <th>Name</th>
                    <th>Interviwer Name</th>
                    <th>Designation</th>
                    <th>Skills</th>
                    <th>mobile</th>
                    <th>Email</th>
                    <th>Scheduled Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>
</div>
