<div class="container">
  <div class="col">
  <div class="col-xs-2 col-lg-12 "> 
<mat-nav-list>
 
    <mat-divider></mat-divider>

  
    <a mat-list-item class="list-item-active" routerLink="/dashboard">
      <mat-icon>home</mat-icon > Home
    </a>
    <a mat-list-item class="list-item-active" routerLink="/dashboard">
        <mat-icon>person</mat-icon> Interviewer
    </a>
    <a mat-list-item class="list-item-active" routerLink="/home">
        <mat-icon>people</mat-icon> Candidates
    </a>
  </mat-nav-list>
</div>
</div>
</div>